.about__container {
  grid-template-columns: 3fr 9fr;
  column-gap: 1.875rem;
}
.about__data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}
.about__data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);

  position: absolute;
  left: -0.93rem;
  top: 20%;
}
.about__description {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 18px;
}


/* Responsive styles using rem units */
@media only screen and (max-width: 1024px) {
  
  .about__container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }
  .about__data::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 49%;
    top: -20px;
  }
  .about__img {
    justify-content: center;
  }
  .about__box {
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
  }
  .about__description {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .about__container {
    grid-template-columns: 350px;
  }
  .about__data::before {
    left: 47%;
  }
  .about__data {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }


}
@media screen and (max-width: 576px) {
  .about__container {
    grid-template-columns: 320px;
  }
  .about__description {
    font-size: 0.77rem;
  }

}

@media screen and (max-width: 350px) {
  .about__container {
    grid-template-columns: 1fr;
  }

}
