.skill-category li {
  color: var(--text-color3);
}
@media only screen and (max-width: 1024px) {
    .skills-section {
      grid-template-columns: 720px;
      justify-content: center;
      row-gap: 1.275rem;
    }
    .skills-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--body-color);
        box-shadow: var(--shadow);
        border-radius: 8px;
      }
      
      .skill-category {
        margin-bottom: 20px;
      }
      
      .skill-category h3 {
        font-size: 1rem;
        color: var(--text-color);
        border-bottom: 2px solid #343a40;
        padding-bottom: 5px;
        margin-bottom: 1px;
      }
      
      .skill-category ul {
        list-style: none;
        padding: 0;
      }
      
      .skill-category li {
        margin-bottom: 8px;
        color: var(--text-color);
      }
      
      .contact-info {
        margin-top: 20px;
      }
      
      .contact-info p {
        margin-bottom: 10px;
        color: #6c757d;
      }
      
  }
  
  @media screen and (max-width: 768px) {
    .skills-section {
      grid-template-columns: 350px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .skills-section {
      grid-template-columns: 320px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .skills-section {
      grid-template-columns: 1fr;
    }
  }